.date{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}
.span1{
    color: darkblue;
}
.image1{
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    margin-left: 15px;
}
.text-block{
    display: inline-block;
    width: 929px;
    vertical-align: top;
    margin-left: 29px;
}
.article-article{
    margin: 15px;
}
.text1{
    margin-bottom: 21px;
}
